<h1>Welcome to my site</h1>
<p>Hello my name is Sean Ross. I am commonly reffered to as Steve's favorite student however he doesn't actually call me that and it is all just in my head. I am new to web development but my layouts on this page are A1 obviously. Spent alot of time on this webpage can't you tell?</p>