<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skills Site</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> | <a href="/contacts">Contacts</a> | <a href="/skills">Skills</a> |
    </nav>
    <%- body %>
</body>
</html>